# .env file mein rename karke apni values bharein - is file (.env.example) ko commit na karein

GROQ_API_KEY=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

WOO_STORE_URL=https://fzahar.com/
WOO_CONSUMER_KEY=ck_7245b9b67da822f028c5b658991e1264bfc13610
WOO_CONSUMER_SECRET=cs_c3d1f33ab57e69c9231e88a00dbb23d67f398797
